
main{
    height: auto;
    background-color: #689;
    text-align: center;
    padding: 25px;
}



section img{
    width: 100px;
    margin-bottom: 15px;
}

main .section-cards-body{
    border: 3px solid cyan;
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* separaciones más consistentes */
    justify-content: center;
}

section{
    /* border: 1px dashed yellowgreen; */
    border: 2px solid #FAD2E1;
    width: 250px;
    max-width: 100%; /* para que nunca se salga en móviles */
    padding: 15px;
    background-color:  #BDE0FE;
    color: #555;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: width 2s, height 4s;
    margin: 15px;
    border-radius: 15px;
}

section:hover {
    background-color: #FFF1E6;
}

section h3{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #6B705C;
}

.section-cards-header h1{
    color: white;
    margin-bottom: 40px;
}

section p{
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 10px;
}